NODE_ENV=
PORT=
LOG_LEVEL=

# DATABASE CONNECTIONS
USER=
PASSWORD=
DATABASE=
HOST=


# PAYSTACK
PAYSTACK_API_TEST_KEY=
PAYSTACK_API_PROD_KEY=


# EMAIL 
EMAIL_SENDER=
GMAIL_APP_PASSWORD=

# AUTH
JWT_EXPIRES_IN=
JWT_SECRET=


# CLOUDINARY
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=